<mixtapemadness-progress-spinner
  [show]="!showsLoaded"
  message="Loading Show Dates"
>
</mixtapemadness-progress-spinner>

<div *ngIf="showsLoaded">
  
  <mixtapemadness-sub-head>

    <h1  centerContent class="mtm-upcoming" title="View {{getTitle(!showPastShows)}}">
      {{ title }}
    </h1>
  
    <div class="left" rightContent style="position: relative">
      <div ngClass.lt-md="nudger-sm" ngClass.gt-sm="nudger">

        <mat-slide-toggle
          [checked]="showPastShows"
          color="info"
          (change)="toggleShows()"
        >
        </mat-slide-toggle>

        <div [ngClass]="{ 'nudge-fix': showPastShows }">
          {{ showPastShows ? 'view upcoming' : 'view past' }}
        </div>
      </div>
    </div>
    
  </mixtapemadness-sub-head>
  
  <div class="mtm-shows-body">
    
    <div class="mtm-shows-inner">
  
      <!-- MEDIUM SCREEN OR LARGER CONTENT -->
      <div
        fxHide.lt-md="true"
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
        *ngFor="let show of displayShows;"
        class="mtm-show-row"
      >
  
        <div fxFlex="12.5">&nbsp;</div>
  
  
        <div fxFlex="67.5" class="mtm-show-part">
  
          <div fxFlex="30">
  
            <div fxLayout="row" fxLayoutAlign="space-between">
              <h1 fxFlex class="mtm-shows-left mtm-show-date">
                {{getDisplayDate(show)}}
              </h1>
            </div>
            
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxFlex class="mtm-shows-left mtm-show-duration">
                {{ getDuration(show) }}
              </div>
            </div>
  
          </div>
  
          <div fxFlex="50">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <h1 fxFlex class="mtm-shows-center  mtm-venue">
                {{show.venue}}
              </h1>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxFlex class="mtm-shows-center">
                {{ getDisplayAddress(show) }}
              </div>
            </div>
          </div>
  
          <div fxFlex>
            <div fxLayout="row" fxLayoutAlign="end center">
              <div fxFlex class="mtm-shows-right-lg">
                <a *ngIf="show.phone" class="mtm-link green" href="tel:{{show.phone}}" title="Call {{show.venue}}" (click)="$event.stopPropagation()">
                  <i class="ai-phone"></i>
                </a>
                <a
                  class="mtm-link pink"
                  href="https://www.google.com/maps/search/?api=1&query={{getEncodedAddress(show)}}&query_place_id={{getEncodedVenue(show)}}"
                  target="_blank"
                >
                  <i class="ai-location" title="Map {{show.venue}}"></i>
                </a>
              </div>
            </div>
          </div>
  
        </div>
  
        <div fxFlex="12.5">&nbsp;</div>
  
      </div>
  
      <!-- SMALL SCREEN OR SMALLER CONTENT      fxHide.gt-sm="true"-->
      <div
        fxHide.gt-sm="true"
        fxLayout="row"
        fxLayoutAlign="space-evenly center"
        *ngFor="let show of displayShows;"
        class="mtm-show-row"
      > 
        <div fxFlex class="mtm-show-part">
  
          <div fxLayout="row nowrap" fxLayoutAlign="space-between center" class="">
            <h2 fxFlex class="mtm-show-date">
              {{getDisplayDate(show)}}
            </h2>
            <div fxFlex class="left mtm-show-duration" style="line-height: 2em;">
              {{ getDuration(show) }}
            </div>
          </div>
  
          <div fxLayout="row nowrap" fxLayoutAlign="space-between center" class="mtm-shows-right">
            <h2 fxFlex="80" class="right mtm-venue">
              {{show.venue}}
            </h2>
            <div fxFlex class="mtm-shows-left left">
              <a *ngIf="show.phone" class="mtm-link green" href="tel:{{show.phone}}" title="Call {{show.venue}}" (click)="$event.stopPropagation()">
                <i class="ai-phone"></i>
              </a>
              <a
                class="mtm-link pink"
                href="https://www.google.com/maps/search/?api=1&query={{getEncodedAddress(show)}}&query_place_id={{getEncodedVenue(show)}}"
                target="_blank"
              >
                <i class="ai-location" title="Map {{show.venue}}"></i>
              </a>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>
  
  </div>
</div>

