@import '../variables';

.mtm-page {
  height: auto;
}

.mtm-page-md-lt-md {
  height: 110%;
  background-color: black;
  padding-bottom: 8em;
  overflow: auto;
}

.mtm-main {
  // background-color: $background-color;
  padding: 1em 1em 1em 1em;
  height: 100%;
  color: $text-color;
  // height: 100vh;
  overflow-x: auto;
}