<mixtapemadness-sub-head
  [hideBackLink]="true"
  [hideLinkOutLink]="true"
  [title]="title"
>

  <div
    rightContent
    class="mtm-chip-select">

    <div
      [fxHide]="showPastShows"
      [ngClass]="{
        'mtm-chip-option': true,
        'mtm-chip-unselected': showPastShows
      }"
      [ngClass.lt-md]="{
        'mtm-chip-option-lt-md': true 
      }"
      title="Click To View Past Shows"
      (click)="toggleShows()"
    >
      <i class="ai-check"></i> Upcoming
    </div>

    <div
      [fxHide]="!showPastShows"
      [ngClass]="{
        'mtm-chip-option': true,
        'mtm-chip-unselected': !showPastShows
      }"
      [ngClass.lt-md]="{
        'mtm-chip-option-lt-md': true 
      }"
      title="Click To View Upcoming Shows"
      (click)="toggleShows()"
    >
      <i class="ai-check"></i> Past
    </div>

  </div>
</mixtapemadness-sub-head>
<div class="mtm-shows-body">

  <div class="mtm-shows-inner">
    <a 
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
      *ngFor="let show of displayShows;"
      class="mtm-link mtm-show-row"
      href="https://www.google.com/maps/search/?api=1&query={{getEncodedAddress(show)}}&query_place_id={{getEncodedVenue(show)}}"
      target="_blank"
    >
    <!-- <div
      fxLayout="row"
      fxLayoutAlign="space-evenly center"
      *ngFor="let show of displayShows;"
      class="mtm-show-row"
    > -->

      <div fxFlex.gt-sm="12.5" fxFlex.lt-md="5">&nbsp;</div>


      <div fxFlex class="mtm-show-part">

        <div fxFlex>

          <div fxLayout="row" fxLayoutAlign="space-between">
            <h1 [fxHide.lt-md]="true" fxFlex class="mtm-shows-left mtm-show-date">
              {{getDisplayDate(show)}}
            </h1>
            <h2 [fxHide.gt-sm]="true" fxFlex class="mtm-shows-left mtm-show-date">
              {{getDisplayDate(show)}}
            </h2>
          </div>
          
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex class="mtm-shows-left mtm-show-duration">
              {{ getDuration(show) }}
            </div>
          </div>

        </div>

        <div fxFlex>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <h3 fxFlex class="mtm-shows-center  mtm-venue">
              {{show.venue}}
            </h3>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex class="mtm-shows-center">
              {{ getDisplayAddress(show) }}
            </div>
          </div>
        </div>

        <div fxFlex>
          <div fxLayout="row" fxLayoutAlign="end center">
            <div fxFlex class="mtm-shows-right">
              <a *ngIf="show.phone" class="mtm-link" href="tel:{{show.phone}}" title="Call {{show.venue}}" (click)="$event.stopPropagation()">
                <i class="ai-phone"></i>
              </a>
              <i class="ai-location" title="Map {{show.venue}}"></i>
            </div>
          </div>
        </div>

      </div>

      <div fxFlex.gt-sm="12.5" fxFlex.lt-md="5">&nbsp;</div>

    <!-- </div> -->
    </a>
  </div>

</div>
