@import '../../../../variables';

.mtm-progress, .mtm-progress-sm {
  text-align: center;
  height: 100%;
  @include nashimura;
}

.mtm-progress-sm {
  img {
    width: 50%;
  }
}

h1 {
  margin: 1em 1em 1em 1em;
  span {
    position: absolute;
  }
}