<mixtapemadness-sub-head
  [hideBackLink]="true"
  [hideLinkOutLink]="true"
  title="Check us out on social media!"
>
</mixtapemadness-sub-head>

<div fxLayout="row wrap" fxLayoutAlign="center stretch"  fxFill class="mtm-socials-row">

  <div fxFlex>
    <a class="mtn-social-icon-bucket mtm-link" [routerLink]="['../yt']">
      <i class="ai-youtube-fill mtm-social-icon"></i>
      <span>YOUTUBE</span>
    </a>
  </div>

  <div fxFlex>
    <a class="mtn-social-icon-bucket mtm-link" [routerLink]="['../fb']">
      <i class="ai-facebook-fill mtm-social-icon"></i>
      <span>FACEBOOK</span>
    </a>
  </div>

</div>