<!-- small screen menu-->
<div fxLayout="row" *ngIf="appSvc.screenSizeMatches(['lt-md', 'md'])" fxLayoutAlign="space-between" class="mtm-header">

  <!-- small menu -->
  <div fxLayout="row" fxHide="true">
    <div> 
      <i
        class="ai-three-line-horizontal mtm-menu-action mtm-menu-action-float"
        *ngIf="!smallMenuOpen"
        (click)="toggleSmallMenuState()"
      ></i>
      <i
        class="ai-cross mtm-menu-action"
        *ngIf="smallMenuOpen"
        (click)="toggleSmallMenuState()"
      ></i>

      <div class="mtm-small-menu" *ngIf="smallMenuOpen">
        <a *ngFor="let link of appSvc.menuItems[0]" class="mtm-link" [routerLink]="[link.url]" (click)="toggleSmallMenuState()" routerLinkActive="active-link">
          <span>{{ link.text }}</span>
        </a>
        <a *ngFor="let link of appSvc.menuItems[1]" class="mtm-link" [routerLink]="[link.url]" (click)="toggleSmallMenuState()" routerLinkActive="active-link">
          <span>{{ link.text }}</span>
        </a>
      </div>
    </div>
  </div>
  <div>
    <mixtapemadness-link
      *ngIf="!appSvc.currentPathIs('/home')"
      [smallText]="currentPath"
      leftContent
      [url]="appSvc.backButton"
      icon="ai-chevron-left"
      smallText="Back"
      clazz="social-link mtm-header-back-arrow"
      [omitSmallText]="true"
    ></mixtapemadness-link>
  </div>
  <div fxLayout="row" fxFlex="100" class="mtm-logo-container">
    <div
      [attr.style]="'text-align: center; margin-left:' + (!appSvc.currentPathIs('/home') ? '-1em' : '2px' )+ '; width: 100%'"
      class="mtm-header-center-logo-xs {{ !appSvc.currentPathIs('/home') ? 'logo-adjust': '' }}"
    >
      <a [routerLink]="['/home']" (click)="smallMenuOpen ? toggleSmallMenuState(): null">
        <img [src]="logoImageSrc" (mouseover)="logoImageSrc = srcTwo" (mouseout)="logoImageSrc = srcOne" alt="Mixtape Madness Logo"/>
      </a>
    </div>
  </div>

  <div fxLayout="row">
    &nbsp;
  </div>
</div>

<!-- gt-md screen -->
<div fxLayout="row" *ngIf="appSvc.screenSizeMatches(['gt-md'])" fxLayoutAlign="space-between" class="mtm-header">
  <div>
    <mixtapemadness-link
      *ngIf="!appSvc.currentPathIs('/home')"
      [smallText]="currentPath"
      leftContent
      [url]="appSvc.backButton"
      icon="ai-chevron-left"
      smallText="Back"
      clazz="social-link mtm-header-back-arrow"
      [omitSmallText]="true"
    ></mixtapemadness-link>
  </div>
  <div fxLayout="row" fxFlex="100" class="mtm-logo-container">
    <div
      [attr.style]="'text-align: center; margin-left: ' + (!appSvc.currentPathIs('/home') ? '-1em' : '2px' )+ '; width: 100%'"
      class="mtm-header-center-logo {{ !appSvc.currentPathIs('/home') ? 'logo-adjust': '' }}"
    >
      <a [routerLink]="['/home']" (click)="smallMenuOpen ? toggleSmallMenuState(): null">
        <img [src]="logoImageSrc" (mouseover)="logoImageSrc = srcTwo" (mouseout)="logoImageSrc = srcOne" alt="Mixtape Madness Logo"/>
      </a>
    </div>
  </div>

  <div
    *ngIf="userName"
    class="userName"
  >
    <span>
      Hi, {{ userName }}
    </span>

  </div>

  <div fxLayout="row">
    &nbsp;
  </div>
</div>