<mixtapemadness-sub-head
  *ngIf="personOrPersons"
>
  <h1 centerContent>
    {{ personOrPersons.title }}
  </h1>
</mixtapemadness-sub-head>

<swiper-container>
  <swiper-slide>Slide 1</swiper-slide>
  <swiper-slide>Slide 2</swiper-slide>
  <swiper-slide>Slide 3</swiper-slide>
</swiper-container>
























<!-- <router-outlet></router-outlet> -->

<!-- <div *ngIf="personOrPersons">
  <p *ngFor="let line of personOrPersons.writeup">
    {{ line }}
  </p>
</div>
<div *ngIf="personOrPersons.isUs">
  <div *ngFor="let sub of subjects">
    <div *ngIf="sub.title !== currentSubject.title">
      <img
        style="max-width: 150px;"
        [attr.src]="sub.currentPic"
        (mouseover)="swapImage(sub)"
        (mouseout)="swapImage(sub)"
      />
    </div>
  </div>
</div> -->