
.mtm-about-container {
  // height: 100vh;
  overflow-y: auto;
  // height: 100vh;
}

.mtm-carousel-container {
  height: 100%;
}

.mtm-about-content {
  margin-top: 1em;
}

.mtm-about-writeup {
  margin-top: 1em;
}

.mtm-about-image-container {
  h3 {

  }

  img {
    width: 200px;
    height: 300px;

  }
}
