
<div class="mtm-spinner-holder">

  <mixtapemadness-sub-head>
    <div centerContent>
      <div [fxHide.lt-md]="true" style="border-radius: 15px 15px 100px 15px; z-index: 0;background-color: black; opacity: .7; width: 800px; overflow: hidden; height: 4em; top: 2em; margin-left: -3em; position: absolute;">&nbsp;</div>
      <h1 [fxHide.lt-md]="true" style="white-space: nowrap; margin: 1em 0 .5em -20px; font-size: 3em; z-index: 1; position: relative">
        We are mixtape madness
      </h1>
      <div [fxHide.gt-sm]="true" style="border-radius: 15px 15px 100px 15px; z-index: 0;background-color: black; opacity: .7; width: 400px; overflow: hidden; height: 4em; top: 2em; margin-left: -3em; position: absolute;">&nbsp;</div>
      <h1 [fxHide.gt-sm]="true" style="white-space: nowrap; margin: 1em 0 .5em -20px; line-height: 2em; font-size: 2em; z-index: 1; position: relative">
        We are mixtape madness
      </h1>
    </div>
  </mixtapemadness-sub-head>

</div>

<div class="mtm-image-holder">
  <img src="assets/images/mixtape_home2.png" />
</div>