<div fxLayout="row" fxLayoutAlign="center" class="socials-sub-head-row">
  <div fxFlex [fxHide.lt-md]="true">&nbsp;</div>

  <div fxFlex.gt-md="50" fxFlex.lt-md="80">

    <div fxLayout="row nowrap" fxLayoutAlign="space-between center">

      <div fxFlex class="left">
        <ng-content select="[leftContent]"></ng-content>
      </div>

      <div fxFlex="80" class="mtm-sub-head-title center" ngClass.lt-md="mtm-sub-head-title-small">
        <ng-content select="[centerContent]"></ng-content>
      </div>

      <div fxFlex class="right">
        <ng-content select="[rightContent]"></ng-content>
      </div>

    </div>

  </div>

  <div fxFlex [fxHide.lt-md]="true">&nbsp;</div>

</div>
