$row-size: 2.5em;

.socials-sub-head-row {
  line-height: $row-size;
}

.socials-sub-head-row i {
  font-size: 3em;
  line-height: 2em;
}

.socials-sub-head-action-row {
  div {
    text-align: center;
    h1 {
      line-height: 0;
      font-size: $row-size;
    }
    a {
      div {
        font-size: 1em;
        line-height: 0;
        margin: -1em 0 0 5px;
      }
    }
  }
}
