
$image-height: 300px;

.mtm-socials-body {
  height: 100%;
  padding-bottom: 10em;
  overflow-x: auto;
}

.mtm-yt-vid-card {
  border: 1px solid #444343;
  background-color: #444343;
  margin: 15px 0 15px 0;
  padding-left: 7.5px;
  p {
    padding: 0 15px 0 15px;
  }
}

.mtm-social-icon {
  font-size: 3em;
  display: block;
  &:hover {
    cursor: pointer;
  }
}

.yt-uix-button-subscribe-branded {
  display: none;
}
.mtn-social-icon-bucket {
  text-align: center;
  // div {
  //   line-height: 3em;
  //   position: absolute;
  //   margin: 2px 0 0 10px;
  // }
}

.mtm-about-image-container {
  h3 {

  }
  
  img {
    width: 200px;
    height: 300px;
    border-radius: 10px 10px 10px 10px;
  }
}
.mtm-about-container {
  // margin-top: -4em;
  // position: relative;
}
.mtm-about-writeup {
  font-size: 1.2em;
}

.mtm-about-content {
  position:absolute;
  width: 80%;
  height: 100%;
  top: 150px
  
}

.mtm-about-body  {
  color: white;
  opacity: 1 !important;
  position: absolute !important;
  top: 0;
  left: 11%;
  width: 100%;
  padding: 0 0 2em 0;
}

.mtm-about-bg {
  background-color: black;
  opacity: 0.8;
  width: 100%;
  height: 95%;
  position: relative;
  left: 11%;
  top: 0;
  border-radius: 20px 20px 20px 20px;
}

.mtm-inner-pic-row-lt-md {
  margin-top: 3em;
  text-align: center;
}

.mtm-inner-pic-row {
  margin-top: 3em;
  text-align: center;
  padding-bottom: 10em;
}

.mtm-about-back-link {
  position: absolute;
  left: 1em;
  top: 0.5em;
  i {
    font-size: 4em;
  }
  div {
    font-size: 1em;
  }
}

.mtm-about-back-link-sm {
  position: absolute;
  left: 1em;
  top: 0.75em;
  i {
    font-size: 2em;
  }
  div {
    font-size: 1em;
  }
}

.img-link-sm {
  img {
    width: 200px;
    height: 350px;
    border-radius: 10px 10px 10px 10px;
  }
}

.img-link {
  img {
    width: 400px;
    height: 550px;
  }
}