<mixtapemadness-sub-head>
  
  <mixtapemadness-link
    leftContent
    [url]="['../']"
    icon="ai-chevron-left"
    smallText="Back"
    clazz="social-link"
  >
  </mixtapemadness-link>

  <h1 centerContent [attr.title]="'Facebook'.toUpperCase()">
    Facebook
  </h1>

  <mixtapemadness-link
    rightContent
    url="https://www.facebook.com/MTMADNESS"
    icon="ai-link-out"
    smallText="open"
    clazz="social-link"
  >
  </mixtapemadness-link>
</mixtapemadness-sub-head>

<div fxLayout="row" fxLayoutAlign="space-between" class="mtm-socials-body">

  <div fxFlex>
    <iframe src="https://www.facebook.com/MTMADNESS&output=embed"></iframe>
  </div>


</div>