<mixtapemadness-sub-head
  [backLink]="['../']"
  backLinkTitle="Go Back"
  title="youtube"
  linkOut="https://www.youtube.com/@mixtapemadnessband"
  linkOutTitle="Leave Mixtape Madness"
>
</mixtapemadness-sub-head>

<div fxLayout="row" fxLayoutAlign="space-between" class="mtm-socials-body">
  
  <div fxFlex style="height: 100%; overflow-x: hidden;">
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div *ngFor="let video of videos" fxFlex="45" class="mtm-yt-vid-card">
        <p>{{video.snippet.title}}</p>
        <youtube-player
          [width]="width"
          [height]="height"
          [showBeforeIframeApiLoads]="false"
          [videoId]="video.snippet.resourceId.videoId"
          [playerVars]="playerVars"
          suggestedQuality="highres"
        >
        </youtube-player>
      </div>
    </div>
  </div>

</div>