$text-color: silver;
$background-color: black;
$header-height: 3em;
$padding: calc($header-height/8);
$font-size: ($header-height*.3)*2;
$header-font-color: lighten($text-color, 3%); //#E8D6AA;// lighten($text-color, 3%);
$header-font-hover-color: #E8D6AA; //darken($text-color, 5%);

$subhead-row-size-big: 2.5em;
$subhead-row-size-small: 1.5em;

@font-face {
  font-family: "nashimura";
  src: url("assets/fonts/nashimura.otf");
}

@font-face {
  font-family: "kameron";
  src: url("assets/fonts/Kameron/Kameron-Bold.ttf");
}

@font-face {
  font-family: "kameron";
  src: url("assets/fonts/Kameron/Kameron-Regular.ttf");
}


@mixin nashimura {
  font-family: "nashimura"; //, Helvetica, "Trebuchet MS", Verdana, sans-serif;
}

@mixin kameron {
  font-family: "kameron";
}