/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import './variables';

html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: black;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  @include nashimura;
}

.mtm-link {
  text-decoration: none;
  color: $header-font-color;
  text-transform: uppercase;
  font-size: .65em;
  margin: .25em .75em .25em .5em;
  @include nashimura;
  &:hover {
    color: $header-font-hover-color;
    span {
      border-bottom: 1px dotted $header-font-hover-color;
    }
    
  }
}