/* You can add global styles to this file, and also import other style files */

@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import './variables';

html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: black;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  @include nashimura;
  font-family: "nashimura" !important;
  text-transform: capitalize;
  font-size: 1.85em;
}

.mtm-link {
  text-decoration: none;
  color: $header-font-color;
  text-transform: uppercase;
  font-size: .65em;
  margin: .25em .75em .25em .5em;
  @include nashimura;
  &:hover {
    color: $header-font-hover-color;
    span {
      border-bottom: 1px dotted $header-font-hover-color;
    }
  }
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}

.center {
  text-align: center;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// MATERIAL OVERRIDES
.mat-mdc-slide-toggle .mdc-switch.mdc-switch--unselected:enabled .mdc-switch__icon,
.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__icon {
  display: none;
}
.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__handle::after {
  background: darken(#e8aaaa, 15%) !important;
}
.mat-mdc-slide-toggle .mdc-switch.mdc-switch--selected:enabled .mdc-switch__icon{
  fill: darken(#e8aaaa, 65%) !important;
}
.mat-mdc-slide-toggle .mdc-switch:enabled .mdc-switch__track::after {
  // light bit
  background: #e8aaaa !important;
  // background: $header-font-hover-color !important;
}