name: Prod Deployment

on:
  push:
    branches: 'main'

jobs:
  quality-gate:
    uses: ./.github/workflows/quality-gates-workflow.yml

  deploy-data-migrations:
    name: Run Data Migrations
    runs-on: ubuntu-latest
    needs: [ quality-gate ]
    environment:
      name: prod
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/composite/job-defaults
      - uses: ./.github/workflows/composite/data-migrations
        with:
          stage: prod
          config: ${{ secrets.AWS_CONFIG }}
          credentials: ${{ secrets.AWS_CREDENTIALS }}

  deploy-infrastructure-and-app:
    name: Deploy App & Infra
    runs-on: ubuntu-latest
    needs: [ deploy-data-migrations ]
    environment:
      name: prod
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/composite/job-defaults
      - uses: ./.github/workflows/composite/aws-connected-command
        with:
          command: npm run deploy:prod
          config: ${{ secrets.AWS_CONFIG }}
          credentials: ${{ secrets.AWS_CREDENTIALS }}
