name: CI/CD Quality Gates

on:
  workflow_call:

jobs:
  lint:
    name: Lint Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/composite/job-defaults
      - run: npm run lint:ci

  unit-test-client:
    name: Client Unit Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/composite/job-defaults
      - run:  |
          npm run unit-test-client
      - name: Upload client coverage to github
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: client-unit-test-artifacts
          path: coverage/apps/angular

  unit-test-api:
    name: API Unit Tests
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/composite/job-defaults
      - run: npm run unit-test-api
      - name: Upload api coverage to github
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: api-unit-test-artifacts
          path: coverage/libs/serverless/angular

  integration-test-client:
    name: Client Integration Tests
    runs-on: ubuntu-latest
    needs: [unit-test-client, unit-test-api]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/composite/job-defaults
      - run:  |
          npm run integration-test-client
        shell: bash

  integration-test-api:
    name: API Integration Tests
    runs-on: ubuntu-latest
    needs: [unit-test-client, unit-test-api]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/composite/job-defaults
      - run: npm run integration-test-api
        shell: bash
